@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Beatles</h1>

    <p>Hello from our View Template Band/Group!</p>

    <a asp-controller="Members" asp-action="Index">Members</a>
</div>
